@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
    --primary-color: #181D31;
    --secondary-color: #678983;
    --third-color: #c7bc9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', 'sans-serif';
}

nav {
    background-color: var(--primary-color);
}

h1 {
    color: var(--third-color);
}

.ct-1 {
    color: var(--primary-color);
}

.bg-section-1 {
    background-color: var(--secondary-color);
}

.bg-section-2 {
    background-color: var(--third-color);
}


a {
    cursor: pointer;
}

.btn-a {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    border: none;
    border-radius: 0.25em;
    padding: 0.75em;
}

.btn-b {
    background-color: var(--primary-color);
    color: var(--third-color);
    text-decoration: none;
    border: none;
    border-radius: 0.25em;
    padding: 0.75em;
}

.btn-active {
    background-color: var(--primary-color);
    color: var(--third-color);
    text-decoration: none;
    margin: 0 1em;
    border-radius: 0.25em;
    padding: 0.75em;
    font-size: 1.25em;
}

.btn-a:hover {
    background-color: var(--third-color);
    color: var(--second-color);
}

.btn-active:hover {
    color: var(--third-color);
}

.text-card-d{
    color: var(--primary-color);
    text-align: center;
}

.bg-primary-1 {
    background-color: var(--primary-color);
}

.color-p1 {
    color: var(--third-color);
    font-size: 1.5em;
}

.no-w {
    width: 5%;
}

.th-c {
    height: 2em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.5em;
    font-weight: bold;
}

.box-details {
    width: 75%;
    background-color: var(--secondary-color);
}

.box-details-inside {
    border: 1px solid var(--primary-color);
    width: 400px;
    height: 400px;
}

table, th, td {
    border: 1px solid;
    empty-cells: show;
    padding: 0 0.5em;
}

.navbar-collapse {
    align-items: center;
    flex-grow: 0;
}


@media only screen and (max-width: 768px) {
    .btn-a {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        text-decoration: none;
        border: none;
        border-radius: 0.25em;
        padding: 0.25em;
        margin: 0.25em;
        text-align: center;
    }
    .th-c {
        height: 2em;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        font-size: 1em;
        font-weight: bold;
    }
}

.card-d {
    weight: 50rem;
    height: 20rem;
}